.layout {
    padding-top: 7rem;
    clip-path: polygon(0 6%, 100% 6%, 100% 35%, 50% 60%, 0 35%);
    margin-bottom: -45rem;
    background-color: white;
}
@media screen and (max-width: 1600px) {
    .layout{
    margin-bottom: -40rem;

    }
}

@media screen and (max-width: 1450px) {
    .layout{
    margin-bottom: -35rem;

    }
}

@media screen and (max-width: 1200px) {
    .layout{
         margin-bottom: -30rem;

    }
} 
@media screen and (max-width: 1100px) {
    .layout {
     padding-top: 8rem;
    clip-path: polygon(0 6%, 100% 6%, 100% 55%, 51% 86%, 0 55%);
    margin-bottom: -3rem;
    background-color: white;

    }
}
