
.layout {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(
    to right bottom ,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), 
    url("21770.png");
    background-size: cover;
    background-position: 0 -2%;
    padding-top: 10vh;
    overflow: hidden;
    background-repeat: no-repeat;    
}

.textBox{
    position: relative;
    display: block;
    width: 50%;
    height: 50%;
    top: 40%;
    justify-content: center;
}

.textBox h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1;
    color: rgb(223, 246, 255);
    margin-bottom: 10px;
}

.textBox h2 {
    color: rgb(19, 99, 223);
    font-family: 'PT Serif', serif;
    margin-bottom: 30px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.btn:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 150px #03e9f4;
}
.btn span{
    position: absolute;
    display: block;
}
.btn span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.btn span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .layout {
        background-position: 0 -15%;
    }
}

@media screen and (max-width: 500px) {
    .layout {
        background-image: linear-gradient(
            to right bottom ,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), 
            url("3043384.jpg");
            background-size: cover;
    }

    .textBox{
        margin: auto;
    }
}